body {
  background-color: rgb(219, 219, 219);
}
.container {
  max-width: 900px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  padding: 20px;
  max-width: 100%;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 240px;
  cursor: pointer;
  border-radius: 10px;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 11rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  
}

.card p {
  color: grey;
}

.card .text {
  background-color: #fff;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  
  

}

div.nav-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.containernav {
  background-color: rgb(219, 209, 195);
}

div.containernav button {
  background-color: rgb(167, 95, 6);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

div.containernav button:hover{
  background-color: rgb(179, 111, 29);
  transition: 0.5s;
}

div.containernav h2 {
  font-weight: 700;
  font-size: 1.3rem;
  color: rgb(122, 72, 5);
}
